venv
.idea
shop_backend/.env
*.pyc
__pycache__
shop_backend/users/migrations/0001_initial.py
shop_backend/products/migrations/0001_initial.py
shop_backend/products/migrations/0002_basket.py
shop_backend/users/migrations/0002_alter_user_options_user_is_verified_email_and_more.py
shop_backend/products/migrations/0003_alter_basket_product_alter_basket_user_and_more.py
